@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap);


html,body{
  font-family:-apple-system,BlinkMacSystemFont,'Noto Sans TC',"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

@media only screen and (max-width:374px) {
  .bigTitle {
    font-size: 2rem;
  }
}

.citySelect-wrap {
  position: relative;
}

.citySelect-wrap::before {
  content: " ";
  position: absolute;
  border-width: 0 4px 7px 4px;
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  right: 15px;
  top: 18px;
}

.citySelect-wrap::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 7px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  right: 15px;
  bottom: 18px;
}

.citySelect {
  width: 100%;
  height: 52px;
  font-weight: bold;
  border: 2px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 1.5rem;
}

.aqi-status-wrap {
  background-color: white;
  height: 100%;
}

.aqi-status-value {
  display: grid;
  place-items: center;
  height: 50%;
  text-align: center;
  font-weight: bold;
  border: 3px solid;
  border-left: none;
  border-bottom: none;
}

.aqi-status-caption {
  display: grid;
  place-items: center;
  height: 50%;
  text-align: center;
  font-weight: bold;
  border: 3px solid;
  border-left: none;
  padding: 0 15px;
}

// 相同子元素裡的第1個
.aqi-status-item:first-child .aqi-status-value,
.aqi-status-item:first-child .aqi-status-caption {
  border-left: 3px solid;
}

@media only screen and (min-width:768px) and (max-width:1200px) {
  .aqi-status-value {
    height: 75%;
  }
  .aqi-status-caption {
    height: 75%;
  }
}

@media only screen and (max-width:767px) {
  .aqi-status-value {
    padding:10px 0;
    height: 60px;
  }
  .aqi-status-caption {
    padding:10px 0;
    height: 60px;
  }
  .aqi-status-item:nth-last-child(2) .aqi-status-value,
  .aqi-status-item:nth-last-child(2) .aqi-status-caption,
  .aqi-status-item:nth-last-child(4) .aqi-status-value,
  .aqi-status-item:nth-last-child(4) .aqi-status-caption
  {
    border-left: 3px solid;
  }
  .aqi-status-item:nth-last-child(1) .aqi-status-value,
  .aqi-status-item:nth-last-child(2) .aqi-status-value,
  .aqi-status-item:nth-last-child(3) .aqi-status-value,
  .aqi-status-item:nth-last-child(4) .aqi-status-value
  {
    border-top: none;
  }

}



.status-color-level1 {
  background-color: #95F084;
}

.status-color-level2 {
  background-color: #FFE695;
}

.status-color-level3 {
  background-color: #FFAF6A;
}

.status-color-level4 {
  background-color: #FF5757;
}

.status-color-level5 {
  background-color: #9777FF;
}

.status-color-level6 {
  background-color: #AD1774;
}

// separate

.separate-wrap {
  display: flex;
}

.separate-wrap > h2 {
  font-size: 2.25rem;
}

.separate-line-wrap {
  display: flex;
  flex: auto;
  align-items: center;
  padding: 0 1.25rem
}

.separate-line {
  border-top: 2.75px dotted;
  width: 100%;
}

// district

.district-selected {
  background-color: white;
}

.districtName {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;  // 不加的話桃園工業區會跑版
  font-size: 2.5rem;
  font-weight: bold;
  border: 3px solid;
  text-align: center;
}

.districtAqi {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border: 3px solid;
  border-left: 0;
  padding: 1rem 0;
}

.districtData {
  border: 3px solid;
  border-top: 0;
}

.districtData > ul {
  list-style: none;
  padding-left: 0;
  padding: 15px;
}

.data-items {
  padding:15px ;
  border-bottom: 1px solid #000;
  font-size: 1.5rem;
  display: flex;
  align-items:flex-end
}

.data-items:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.district-items {
  background-color: white;
}

.district-items:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

@media only screen and (max-width:374px) {
  .data-items {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width:359px) {

  .data-items span{
    font-size: 0.8rem;
  }

  .district-items {
    height: 130px;
  }
  .districtAqi {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}